@charset "UTF-8";

div#tv-video {
    width: 900px;
    height: 580px; /* tamanho definidos nas fotos */
    margin: auto; /* para ficar centralizado dentro da div */
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px; /* tamanho do arquivo */
}

video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 75px;
    width: 440px; /* tamanho do arquivo */
}